@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

$primary-color: #ea9b1e;
$primary-color-light: #faf0e3;
$gray-100: #3c3d43;

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 500;
    color: $gray-100;
    letter-spacing: -2%;
    user-select: none;
}

// typography
@mixin headline1 {
    font-size: 7.5rem;
    font-weight: 800;
    line-height: 120px;
}
